#lojas .lojas{
    display: flex; /* Flexbox para layout automático */
    flex-wrap: wrap; /* Permite que os cartões "quebrem" para uma nova linha */
    gap: 50px; /* Espaço entre os cartões */
    background: linear-gradient(to bottom, black, white);
}


.loja{
    margin-left:3px;
    min-height: 6.5rem;
    border-radius: 5px;
    width: calc(20% - 10px);
}

.titulo-marcas{
    height: 60px;
    margin-top: 20px;
    border-radius: 5px 5px 0px 0px;
    background-color: black;
}

.titulo-marcas h1{
    color: white;
    text-align: center;
    font-size: 20px;
}

.amostra{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cabecalho-ofertas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: pink;
    height: 60px;
}

.minhadiv1{
    height: 400px;
    background: linear-gradient(to bottom, pink, white);
    padding: 0px;
    border-radius: 5PX;
}

#minhadiv2{
    margin-top: 5px;
    border-radius: 5PX;
    border-radius: 5px;
    display: flex; /* Flexbox para layout automático */
    flex-wrap: wrap; /* Permite que os cartões "quebrem" para uma nova linha */
    gap: 10px; /* Espaço entre os cartões */
   
}

.minhadiv1 .ct1{
    margin-top: 10PX;
    margin-left: 10px;
    margin-right: 2px;
    height: 385PX;
    width: 19%;
    background-color: white;
    border-radius: 5PX;
}

#minhadiv2 .ct1{
    margin-top: 10PX;
    height: 385PX;
    width: 19%;
    width: calc(20% - 10px);
    background-color: white;
    border-radius: 5PX;
    padding-left: 0px;
}

.ct1 img{
    height: 339px;
    width: 248px;   
}

.material-symbols-outlined{
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

#minhadiv2 .ct1 .preco{
    font-weight: 1000;
    color: rgb(247, 133, 12);
}

#minhadiv2 .ct1 .nome{
    font-weight: 500;
}


.cabecalho-ofertas .ofertas,
.cabecalho-ofertas .veja-mais{
    width: 50%;
}
.cabecalho-ofertas .veja-mais{
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items:end;

}

.descricao{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.descricao .info{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.carrinho button{
    border: none;
    background-color: orange;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: fixed;
    z-index: 10000;
    bottom: 40px;
    right: 70px;
}

.carrinho span{
    font-size: 70px;
    color: black;
}


