#lojas{
    margin-top: 20px;
}

.loja{
    min-height: 6.5rem;
    box-shadow: 0px 4px 8px pink;
    border-radius: 5px;
}

.titulo-marcas{
    height:30px ;
    margin-top: 20px;
    border-radius: 5px;
    background-color: black;
}

.titulo-marcas h1{
    color: white;
    text-align: center;
    font-size: 20px;
}

.amostra{
    margin-top: 20px;
    margin-bottom: 20px;
}

.minhadiv1{
    height: 400px;
    background-color: black;
    padding: 0px;
    border-radius: 5PX;
}

.minhadiv2{
    margin-top: 5px;
    height: 400px;
    border-radius: 5PX;
    background-color: black;
   
}

.minhadiv1 .ct1{
    margin-top: 10PX;
    margin-left: 10px;
    margin-right: 2px;
    height: 385PX;
    width: 19%;
    background-color: white;
    border-radius: 5PX;
}

.minhadiv2 .ct1{
    margin-top: 10PX;
    margin-left: 10px;
    margin-right: 2px;
    height: 385PX;
    width: 19%;
    background-color: white;
    border-radius: 5PX;
    padding-left: 0px;
}

.ct1 img{
    height: 339px;
    width: 246px;
}

