.telamodal{
    display: flex;
    flex-direction: column;
    position: fixed; /* Fixo em relação à janela */
    top: 70px;
    left: 400px;
    z-index: 20000; /* Sobrepõe outros elementos */

}

.cabecalho-carrinho{
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    position: sticky;
    top: 0;
    height: 50px;
    box-shadow: 0px 0px 8px PINK;
}

.conteudo {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%; 
    padding: 5px;
    position: relative;
    max-height: 500px;
    min-width: 600px;
    overflow-y: auto;
}

.cabecalho-carrinho .close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.pagamento{
    box-shadow: 0px 0px 8px PINK;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    position: sticky;
    bottom: 0;
}

.pagamento button{
    background-color: orange;
    width: 100px;
    font-size: 20px;
    border-radius: 0px 0px 5px 0px;
}

#itensCarrinho {
    margin-top: 20px;
    text-align: left;
}