.telamodal{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 400px;
    z-index: 20000;

}

.cabecalho-carrinho{
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    position: sticky;
    z-index: 500;
    top: 0;
    height: 50px;
    box-shadow: 0px 0px 8px PINK;
}

.conteudo {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%; 
    padding: 5px;
    position: relative;
    min-height:300px ;
    max-height: 500px;
    min-width: 600px;
    overflow-y: auto;
}

.cabecalho-carrinho .close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.cabecalho-carrinho .close:hover{
    color: red;
}

.pagamento{
    box-shadow: 0px 0px 8px PINK;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    position: sticky;
    bottom: 0;
}

.pagamento h2{
    font-size: 40px;
    font-weight: 600;
    margin-left: 5px;
}

.pagamento .valorTotal{
    align-self:self-end;
    font-size: 30px;
    font-weight: 1000;
    color: rgb(247, 133, 12);
}

.pagamento button{
    background-color: orange;
    width: 100px;
    font-size: 20px;
    border-radius: 0px 0px 5px 0px;
}

#itensCarrinho {
    margin-top: 20px;
    text-align: left;
}

.content-shopp-car{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 600px;
    margin-top: 2px;
}

.content-shopp-car .card-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    background-color: white;
}

.card-info .preco{
    font-size: 30px;
    font-weight: 1000;
    color: orange;
    margin-left: 10px;
}

.card-info .card-text{
    font-weight: 500;
    margin-left: 10px;
    font-size: 20px;
}

.card-info .qntd{
    font-weight: 1000;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-info .qntd button{
    margin: 10px;
    width: 30px;

}

.card-info .qntd .material-symbols-outlined:hover{
    color: red;
}

.picture{
    width: 50%;
}