header{
    margin-bottom: 30px;
}

#destaques{
   
    height: 300px;
    width: 100%;
}

#destaques .estatico1{
    height: 300px;
    width: 30%;
}

#destaques .estatico1 .mulheres img{
    height: 145px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 8px pink;
}

#destaques .estatico1 .verao{
    box-shadow: 0px 4px 8px PINK;
    border-radius: 5px;
}

#destaques .estatico1 .criancas img{
    margin-top:10px ;
    height: 145px;
    width: 100%;
    border-radius: 5px;
    
}


#destaques .carrossel {
    height: 300px;
    border-radius: 10px;
    width: 45%;
}


#destaques .carousel-inner {
    height: 300px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 8px pink;
}

#destaques .carrossel img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px PINK
}

#destaques #promocao{
    background-color:pink;
    height: 300px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px PINK
}

#promocao .cabecalho-promocao h1{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size:x-large;
}

#promocao .relogio  {
    margin-bottom: 20px;
    height: 110px;
    width: 50%;
    background-color: white;
    border-radius: 50%;
}

#promocao .relogio .rolex img{
    margin-bottom: 10px;
    height: 110px;
    width: 100%;
    background-color: white;
    border-radius: 50%;
}

#promocao .maquiagem{
    height: 110px;
    width: 50%;
    background-color: white;
    border-radius: 50%;
}
#promocao .maquiagem .rubyrose img{
    height: 110px;
    width: 100%;
    background-color: white;
    border-radius: 50%;
}

#promocao .porcelana{
    height: 110px;
    width: 50%;
    background-color:white;
    border-radius: 50%;
}

#promocao .porcelana .tramontina img{
    height: 110px;
    width: 100%;
    background-color: red;
    border-radius: 50%;
}
#promocao .sapato{
    height: 110px;
    width: 50%;
    background-color: white;
    border-radius: 50%;
    
}

#promocao .sapato .tenis img{
    height: 110px;
    width: 100%;
    background-color: green;
    border-radius: 50%;
}

#topo .barra{
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 4px 8px PINK;
}

#topo .logo .logomarca{
    height: 50px;
    width: 350px;
    background-color: black;
    border-radius: 5px;
    
}

#topo .logo .logomarca img{
    height: 50px;
    width: 350px;
    background-color: black;
    border-radius: 5px;
    
}

.barra {
    position: sticky;
    top: 0;
    z-index: 1030;
    background-color: white; 
  }
  
  .nav-pills {
    top: 50px; 
    z-index: 1020; 
    background-color: white;
    padding: 10px 0;
  }

  #rodape{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: black;
    width: 100%;
    height: 100px;
    box-shadow: 0px 4px 8px PINK;
    border-radius: 5px;
  }

  #rodape p{
    text-align: center;
    color: white;
  }

  .nav-link {
    color: black !important;
    background-color: transparent;
  }

  .nav-link.active {
    background-color: black !important;
    color: white !important;
  }


  .nav-link.disabled {
    color: black !important;
  }

  



